@import "bootstrap/scss/bootstrap";

:root {
  --primary-color: #{$primary};
  --background-color: #{$white};
  --text-color: #{$gray-900};
  --link-color: #{$primary};

  --dark-primary-color: #{$primary};
  --dark-background-color: #{$dark};
  --dark-text-color: #{$light};
  --dark-link-color: lighten(#{$primary}, 15%);
}

body.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);

  a {
    color: var(--link-color);
  }
}

body.dark-mode {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);

  a {
    color: var(--dark-link-color);
  }
}

.navbar-brand {
  color: white;
}
